@use '../../../../styles/variables' as vars;
@use '../../../../styles/mixins';

.status-stepper {
  @include mixins.flx($direction: column, $gap: vars.$spacing-sm);
  list-style: none;
  margin: 0;
  padding: 0;

  @include mixins.respond(vars.$breakpoint-desktop) {
    flex-direction: row;
    align-items: center;
  }

  &__step {
    @include mixins.flx($align: center, $gap: vars.$spacing-xs);

    &:not(:last-child)::after {
      content: '';
      display: block;
      width: 2px;
      height: vars.$spacing-md;
      margin-inline-start: vars.$spacing-sm;
      background-color: var(--color-border);

      @include mixins.respond(vars.$breakpoint-desktop) {
        width: vars.$spacing-lg;
        height: 2px;
        margin-inline-start: 0;
      }
    }

    &--current {
      font-weight: 700;
    }
  }
}
